urxvt.scrollBar: false
urxvt.internalBorder: 11
urxvt.geometry: 80x24

! urxvt.background:#262320
! urxvt.foreground:#CCC4AF

! !black
! urxvt.color0:#302D29
! urxvt.color8:#403B37

! !red
! urxvt.color1:#d17b49
! urxvt.color9:#d17b49

! !green
! urxvt.color2:#7b8748
! urxvt.color10:#7b8748

! !yellow
! urxvt.color3:#af865a
! urxvt.color11:#af865a

! !blue
! urxvt.color4:#535C5C
! urxvt.color12:#535C5C

! !magenta
! urxvt.color5:#775759
! urxvt.color13:#775759

! !cyan
! urxvt.color6:#6d715e
! urxvt.color14:#6d715e

! !white
! urxvt.color7:#CCC4AF
! urxvt.color15:#CCC4AF

! urxvt.foreground:   #c5c8c6
! urxvt.background:   #1d1f21

! urxvt.cursorColor:  #CA5E64

! urxvt.color0:       #282a2e
! urxvt.color8:       #373b41
! urxvt.color1:       #CD546C
! urxvt.color9:       #EF545F
! urxvt.color2:       #A5AF86
! urxvt.color10:      #BDC79E
! urxvt.color3:       #CD7860
! urxvt.color11:      #E88773
! urxvt.color4:       #7A9388
! urxvt.color12:      #94B1A3
! urxvt.color5:       #75434C
! urxvt.color13:      #BB6C73
! urxvt.color6:       #767D75
! urxvt.color14:      #9DA69E
! urxvt.color7:       #bfc5c2
! urxvt.color15:      #c8cfcb

urxvt.background:#161616
urxvt.foreground:#CCCCCC

urxvt.color0:#222222
urxvt.color8:#2E2E2E
urxvt.color1:#d17b49
urxvt.color9:#d17b49
urxvt.color2:#7b8748
urxvt.color10:#7b8748
urxvt.color3:#af865a
urxvt.color11:#af865a
urxvt.color4:#535C5C
urxvt.color12:#535C5C
urxvt.color5:#775759
urxvt.color13:#775759
urxvt.color6:#6d715e
urxvt.color14:#3c3d39
urxvt.color7:#c9c9c9
urxvt.color15:#c9c9c9

! urxvt.font: xft:berry:size=8
! urxvt.boldFont: xft:berry:size=8
! urxvt.font: xft:Pragmata Pro:size=9
! urxvt.boldFont: xft:Pragmata Pro:size=9:style=bold
urxvt.font: xft:Hack:size=9
urxvt.boldFont: xft:Hack:size=9:style=bold
! urxvt*font: xft:Inconsolata:size=10
! urxvt*boldFont: xft:bold:Inconsolata:size=10
urxvt.saveLines: 15000
urxvt.letterSpace: 0
Xft.dpi: 96
Xft.antialias: 1
Xft.hinting: 0
Xft.hintstyle: hintslight
Xft.autohint: 0
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! clickable urls
urxvt.matcher.pattern.1:  \\b(mailto|http|https|ftp|file):[/]*[\\w-]\\.[\\w./?&@#-]*[\\w/-]
urxvt.matcher.pattern.2: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
urxvt.perl-ext-common: default,matcher,clipboard,font-size
urxvt.url-launcher: /usr/bin/firefox
urxvt.matcher.button:  1

! font change on the fly
URxvt.keysym.C-0:perl:font-size:reset
URxvt.keysym.C-Up:perl:font-size:increase
URxvt.keysym.C-Down:perl:font-size:decrease
URxvt.keysym.C-S-Up:perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal
